.footer{
    background-color: var(--bg-secondary);
    display: flex;
    flex-direction: row;
    padding: 1.3rem 0;
    text-align: center;
    justify-content: center;
}

.footer p{
    margin-right: .2rem;
}