.card{
    display: flex;
    flex-direction: column;
    max-width: 12rem;
    max-height: 22rem;
    background-color: var(--bg-secondary);
    border-radius: 4px;
    padding: .5rem;
}

.card h4{
    margin: 1rem 0;
}