.home{
    background-image: url('../../assets/videogame.png');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.home a{
    margin-left: 40rem;
}