.filters{
    max-width: 10vw;
    margin: 0 1rem 0 0;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    border-right: 2px solid var(--font-clr-complementary);
}

.filters input{
    margin-bottom: var(--inputs-margin);
    font-size: medium;
}

.filters select{
    margin-bottom: var(--inputs-margin);
    font-size: medium;
}

.filters fieldset{
    margin-bottom: var(--inputs-margin);
}

.filters fieldset input{
   margin: .1rem;
}

.checkoption{
    display: flex;
    flex-direction: row;
}

.originbtn{
    width: fit-content;
    background-color: transparent;
    margin-left: .5rem;
}

.originbtn:hover{
    cursor: pointer;
}

.filtersreset{
    margin-top: 2rem;
    width: fit-content;
    background-color: transparent;
}

.filtersreset:hover{
    background-color: gray;
    color: black;
    border: none;
    cursor: pointer;
    border: 2px solid gray;
}

.namesearch{
    display: flex;
    flex-direction: row;
}

.namesearch input{
    width: 6.4rem;
}

.findbtn{
    background-color: transparent;
    padding: .15rem .2rem;
    width: fit-content;
    height: fit-content;
}

.findbtn:hover{
    background-color: gray;
    color: black;
    border: none;
    cursor: pointer;
    border: 2px solid gray;
}