.filters{
    max-width: 10vw;
    margin: 0 3rem 0 0;
    display: flex;
    flex-direction: column;
}

.checkoption{
    display: flex;
    flex-direction: row;
}

.originbtn{
    width: fit-content;
}