.navbar{
    background-color: var(--bg-secondary);
}

.navbar ul{
    margin: 0;
    padding: .4rem 2rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.navbar ul li{
    width: fit-content;
}

.navbar ul li:hover{
    cursor: pointer;
}