.navbar{
    background-color: var(--bg-secondary);
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.navbar ul{
    margin: 0;
    padding: .4rem 2rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.navbar ul li{
    width: fit-content;
}

.navbar ul li:hover{
    cursor: pointer;
}